/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.8em;
    }

    .form-control {
    	max-width: 200px;
    	margin: auto;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

html {
	height: 100%;
}

body {
	color: #ffffff;
	background: url(https://images.unsplash.com/photo-1505370914932-3d5df10b0d4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=21859dab6faa592288a37c7b466f936e&auto=format&fit=crop&w=1349&q=80);
	background-size: cover;
	background-position: center;
	font-family: roboto:400;
	letter-spacing: 0.2rem;
}

#content {
	padding-top: 20%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	font-weight: 700;
	font-size: 5em;
	text-transform: uppercase;
}

h3 {
	font-size: 2.75em;
}

hr {
	width: 400px;
	max-width: 45%;
	border-top: 1px solid #f8f8f8;
	border-bottom: rgba(0,0,0,0.2);
}